/*----- AVATAR ORGANISM -----*/
// .containerAvatar{
//     display: flex;
//     flex-direction: row;    
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 40px;
//     padding: 30px;
// }

.containerAvatar{
    display: grid;
    grid-template-columns: repeat(auto-fit, 15% minmax(70%,1fr) 15%);
    grid-auto-rows: auto;
    margin-top: 70px;
}