/*----- FONTS -----*/
%fontsPoppins500{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

%fontsPoppins600{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

%fontsPoppins700{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

%fontsRaleway400{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}

%fontsRaleway500{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
}

%fontsRaleway600{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
}

%fontsRaleway700{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
}

 