/*----- SERVICE MOLECULES -----*/
.serviceTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.serviceDetail{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(308px,1fr));
    gap: 30px;
}