/*----- VARIABLES -----*/
/*----- SIZE ICON  -----*/

$avatar_left_size_icon:25px;
$avatar_right_size_icon_twitter:20px;

/*----- PALETA DE COLORES -----*/

$color_branding_1:#6D0AD3;
$color_branding_2:#00CF95;
$color_branding_3:#0098EF;
$color_branding_4:#D1FFA2;
$color_semantic_1:#EF0E00;
$color_semantic_2:#FF8D4E;
$color_base_0:#000;
$color_base_1:#262626;
$color_base_2:#808080;
$color_avatar_left_button:#EDE2FA;
$color_avatar_left_icon_linkedin:#0176B5;
$color_avatar_left_icon_whatsapp:#44C24F;

/*----- RUTA IMAGE -----*/
$ruta_image:"../src/image/";
$image_avatar:"foto_avatar.png";